.grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: red solid 4px;
}

.tile {
    box-sizing: border-box;
    border: black solid 1px;
    aspect-ratio: 1;
}

.painted {
    background-color: blue;
}

.container {
    display: flex;
    justify-content: center;
    margin: 8px;
}

button {

}